* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 900px;
    /* border: 1px solid red; */
}

/* Header/Cabeçalho */

.Header {
    display: flex;
    max-height: 100px;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid blue; */
    margin-bottom: 10px;
}

.Logotipo {
    max-width: 250px;
}

.navbarLinks {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0rem 1rem;
}

.navbarLinks:hover {
    font-size: 22px;
    color: rgb(24, 156, 156);
    transition: 0.4s ease;
}

/* Página Home */

.destaqueContainer {
    background-color: rgba(24, 105, 119, 0.699);
}

.destaqueImg {
    width: 900px;
    height: 450px;
}

.destaqueTexto {
    font-size: 30px;
    color: white;
}