* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 900px;
    /* border: 1px solid red; */
}

hr {
    display: none;
}

/* Header/Cabeçalho */

.Header {
    display: flex;
    max-height: 100px;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid blue; */
    margin-top: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.Logotipo {
    max-width: 250px;
}

.menuHamburguer {
    display: none;
}

.NavUl {
    display: flex;
    list-style-type: none;
}

.NavLinks {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0rem 1rem;
}

.NavLinks:hover {
    font-size: 22px;
    color: rgb(24, 156, 156);
    transition: 0.4s ease;
}

/* Página Home */

.homeDestaque {
    margin-bottom: 20px;
}

.destaqueContainer {
    background-color: rgba(24, 105, 119, 0.699);
}

.destaqueImg {
    width: 900px;
    /* height: 450px; */
    height: 300px;
    padding: 10px;
}

.destaqueTexto {
    font-size: 30px;
    color: white;
    padding: 0px 0px 10px 10px;
}

/* Página Home: Categorias */

.categoriasTitulo {
    font-size: 30px;
}

.categoriasHome {
    display: flex;
    flex-direction: column;
}

.categoriasContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    gap: 0px 5px;
    margin-bottom: 20px;
}

.categoriasImg {
    width: 297px;
    height: 210px;
}

.categoriasDescricao {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.categoriasContainerTwo {
    background-color: rgba(24, 105, 119, 0.699);
}

.categoriasLink {
    text-decoration: none;
}

/* Paginas */

.tituloPaginas {
    margin-top: 20px;
}

.imagensPaginas {
    width: 900px;
    margin: 20px 0px;
}

/* Pagina Contato */

#tituloContato {
    text-align: center;
}

.subtituloContato {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.formularioContato {
    margin: auto;
    align-items: center;
    width: 500px;
    background: rgba(5, 110, 196, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid black;
    border-radius: 16px;
}

.grupoForm {
    margin-bottom: 1.5rem;
}

.campoForm {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    color: black;
    border: 1px solid black;
    outline: none;
}

.campoForm:focus {
    border-color: black;
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botaoForm {
    color: black;
    background-color: white;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botaoForm:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4); 
}

/* Footer / Rodapé */

.footerTexto {
    margin-top: 30px;
    padding: 15px;
    background-color: rgba(24, 105, 119, 0.699);
    color: white;
    text-align: center;
}

.linkFooter {
    text-decoration: none;
    color: white;
}

/* Responsividade / Media Queries */

/* Celulares */
@media(max-width: 450px) {
    
    .App {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 100%;
        padding: 10px;
        /* border: 1px solid red; */
    }

    hr {
        display: block;
    }

    /* Header */

    .Header {
        justify-content: space-between;
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .Header:has(.NavBar.active) {
        margin-bottom: 120px;
    }

    .menuHamburguer {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }

    .NavBar {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .NavBar.active {
        display: flex;
        margin-top: 12px;
        background-color: rgba(24, 105, 119, 0.699);
    }

    .NavUl {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .NavLinks {
        color: white;
    }

    /* Formulário */

    .formularioContato {
        width: 100%;
    }

    /* Destaque */

    .homeDestaque {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .destaqueImg {
        width: 100%;
        height: 300px;
        padding: 10px;
    }

    .categoriasContainer {
        display: grid;
        grid-template-columns: 2fr;
        gap: 20px 0px;
        margin-top: 20px;
    }

    .categoriasImg {
        width: 100%;
        height: 210px;
    }

    .imagensPaginas {
        width: 100%;
    }

    .ultimoParagrafo {
        margin-bottom: 55px;
    }

    .ultimoParagrafoMax {
        margin-bottom: 120px;
    }

    


}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        color: yellow;
    }

    h2 {
        color: yellow;
    }
}

/* Orientação horizontal / Celular deitado */

/* @media (orientation: landscape) {
    h1 {
        color: blue;
    }

    h2 {
        color: blue;
    }
} */